<h1 class="mt-5 mb-5"><%= @task.title %></h1>
<h2 class="mb-3"><%= @task.details %></h2>
<p><%= @task.completed? ? 'Completed' : 'Incomplete' %></p>
<%= link_to "Home", tasks_path, class: "btn btn-primary mt-3" %>
<%= link_to "Edit task", edit_task_path, class: "btn btn-warning mt-3 ms-2" %>
